<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

This notebook will provide a summary of data science tools and ecosystem.

__Objectives__
* List popular languages used by data scientists
* List libraries commonly used by data scientists
* List important data science tools
* Evaluate arithmetic expressions using Python

Some of the popular languages that data scientists use are:
1. R
2. Python
3. SQL
4. Java
5. C++

Some of the libraries commonly used by data scientists are:
1. Pandas
2. Matplotlib
3. Scikit
4. Tensorflow
5. Apache Spark

| Data Science Tools |
------------------
| GitHub |
| RStudio |
| Jupyter Lab |
| Airflow |

Here are some examples of evaluating arithmetic expressions in Python.

In [1]:
# This is an arithmetic expression to multiply and add integers.

(3*4)+5

17

In [3]:
# This will convert minutes to hours by dividing by 60.

x = 200
y = x/60

print(x,  ' minutes is equivalent to ',  y,  ' hours.')

200  minutes is equivalent to  3.3333333333333335  hours.

## Author:
Debbie Vallin